.login {
    width         : 300px;
    margin        : 5rem auto 0 auto;
    border-radius : 4px;
    border        : 1px solid cornflowerblue;
    padding       : 2rem;

    & > * + * {
        margin-top : 1rem;
    }

}

.error {
    color            : #8f0303;
    background-color : #fddfdf;
    font-size        : 12px;
    line-height      : 14px;
    border-radius    : 4px;

    padding          : 1rem;

    border           : 1px solid #8f0303;
}
